node_modules
dist
.env
coverage

back/node_modules
front-end/node_modules
front-end/.env
back/.env
back/dist
front-end/dist

sakai-vue/

# TypeScript incremental build info (build artifact, never committed)
*.tsbuildinfo
data/